.flexbox-parent {
  display: flex;
}

.flexbox-item.login,
.flexbox-item.navigation {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.flexbox-parent.geo {
  justify-content: space-around;
}

.geo .flexbox-item {
  justify-content: end;
}