.flexbox-parent {
  display: flex;
}

.flexbox-item.login,
.flexbox-item.navigation {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.flexbox-parent.geo {
  justify-content: space-around;
}

.geo .flexbox-item {
  justify-content: end;
}

.items-to-column {
flex-direction: column;
}

.items-to-row {
flex-direction: row;
} 

.content-justified-to-center {
  justify-content: center;
}

.content-justified-in-between {
  justify-content: space-between;
}

.content-justified-to-end {
  justify-content: flex-end;
}

.items-aligned-to-center {
  align-items: center;
}

.items-aligned-stretch {
  align-items: stretch;
}