.logo {
  background: url(../images/logo.png) no-repeat;
}

.user-profile {
  background: url(../images/face_mao.svg);
  width: 40px;
  height: 40px;
}

.big-logo {
  /* background: url(../images/big-logo.png) no-repeat;
  height: 85px, */
}
.cropped-logo {
  background: url(../images/logo-cropped.png) no-repeat;
  height: 200px;
  background-size: contain;
}