.logo {
  background: url() no-repeat;
 max-width: 139px;
}

.user-profile {
  background: url(../images/face_mao.svg);
  width: 40px;
  height: 40px;
}

.img-ad {
  background-size: cover!important;
}
.arrows-ad {
  bottom: 0;
  right: 0;
}
  /*
.big-logo {
 background: url(../images/big-logo.png) no-repeat;
  height: 85px, 
}
 .bg-zattix .container{
  background: url(../images/logo-cropped.png) no-repeat;
  height: 200px;
  background-size: contain;

} */