body {
  background-color: rgba(0, 0, 0, .03);
}

header {
  min-width: 546px;
}

.topbar {
  margin: 0 15px;
}

.login {
  cursor: pointer;
}

.arrows-ad::after {
  content: " ⟨   ⟩ ";
  font-weight: bolder;
  white-space: pre;
  color: #ca5668;
}

.products-row {
  max-width: 1080px;
  margin: 0 auto
}

.big-logo {
  line-height: 0.85;
}

.badge {
  left: -5px;
  top: -5px;
}

.form-control {
  height: 50px;
}

.carousel-inner,
.carousel.wrapper {
  margin: 0 auto;
}

.separator,
.carousel {
  max-width: 1180px;
}

.plus:hover {
  border-color: #d35266 !important;
  background: #383838;
  color: #d35266 !important;
  cursor: pointer;
}

.card {
  margin-left: 4px !important;
  margin-right: 4px !important;
  max-width: 46%;
}

.page-link {
  color: #888;
  border-radius: 5px;
}

.page-item {
  margin-left: 10px;
}

.nav-link:hover {
  color: #d35266 !important
}

.active .page-link {
  background: #d35266 !important;
  border-color: #d35266 !important;
}

@media (max-width: 546px) {
  html {
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {

  .separator,
  .carousel {
    max-width: 1180px;
    margin-left: 1%;
  }

  .location span {
    width: 85% !important;
  }

}

@media (min-width: 768px) {


  .carousel-inner {
    width: 95%;
  }

  .carousel-control-prev {
    width: 30px;
  }

  .carousel-control-next {
    width: 30px;
  }

  .card {
    margin-left: 7px !important;
    margin-right: 7px !important;
  }
}