body {
  background-color: rgba(0, 0, 0, .03);
  max-width: ;
}

header {
  min-width: 546px;
}

.arrows-ad::after {
  content: " ⟨   ⟩ ";
  font-weight: bolder;
  white-space: pre;
  color: #ca5668;
}

.products-row {
  max-width: 1080px;
  margin: 0 auto
}

.big-logo {
  line-height: 0.85;
}

.badge {
  left: -5px;
  top: -5px;
}

.separator,
.carousel {
  max-width: 1180px;
}

.carousel-inner {
  width: 95%;
}

.carousel-control-prev {
  width: 30px;
}

.carousel-control-next {
  width: 30px;
}

.card {
  margin-left: 7px !important;
  margin-right: 7px !important;

}



@media (max-width: 768px) {}

@media (min-width: 768px) {
  .navbar {

    margin: 0 auto
  }
}

.carousel-inner {
  margin: 0 auto;
}